<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Welcome to the Quote Generator!</h1>
    <h2>Choose what type of quote you desire:</h2>

    <form action="/quote" method="post">
      <input id="user_input" type="text" name="genre">
      <button>Submit</button>
    </form>
  </body>
</html>
